
/*@media (min-width: 768px) and (max-width: 1199.98px) { ... }*/

body{

}

.menu{
	float: left;
	margin-left: 30px;
	padding-left: 20px;
background-color: #fff;
line-height: 1.6rem;
border: 1px solid #ccc;
border-radius: 5px;
margin-top: 3px;
}
.side{
padding-left:20px;
background-color: #fff;
line-height: 1.6rem;
border: 1px solid #ccc;
border-radius: 5px;
margin-top: 10px;
}

.nav{
	background-color:#eee;
	padding:0px;
	/*position: fixed;*/

}
.nav a{
	margin-left:200px;
}

.container{
	width:729px;
    width: 729px;
    border: 1px solid #ccc;
    color: #586675;
    background-color: #fafafa;
    margin-bottom: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    font-family: raleway,Arial,sans-serif;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}

#round{
	margin-left: 800px;
}
.para{
	width:850px;
    border: 1px solid #ccc;
    color: #586675;
    margin-bottom: 25px;
    padding-bottom: 100px;
    text-align: center;
    
}
mark{
	background-color: yellow;
	margin-right: 500px;
}

.convrt{
    line-height: 1.8rem;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 7px;
    margin-right: 50px;
}


.p2{
	margin-right: 30px;
}

#nav.nav{
	background-color: red;
}